body {
  margin-top: 80px;
}
@media (min-width: 992px) {
  body {
    margin-top: 0px;
  }
}
/*
(mm-page) page z-index --> 1
(my-menu) slide 3
(header-mobile ) nav-header 2
*/
#header-desktop {
  display: none;
}
#header-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0px;
  height: 80px;
  background: #fff;
  overflow: hidden;
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
#header-mobile .img-logo {
  margin: 20px 0 0 20px;
  width: 200px;
  height: auto;
}
.mm-panel,
.mm-panels {
  background-color: #fff;
}
#mm-1 {
  margin-top: 36px;
  font-size: 14px;
}
.mm-menu a,
.mm-listitem a {
  font-size: 20px;
  font-family: verdana, sans-serif;
}
.mm-listitem_vertical .mm-panel a {
  font-size: 12px;
}
.mm-listitem:after {
  content: none;
}
.mm-listitem a:hover {
  background-color: #181c2a;
  color: #fff;
}
.mm-listitem__text,
.mm-listitem_opened > .mm-listitem__btn,
.mm-listitem_opened > .mm-panel {
  background-color: white;
  color: #555;
}
@media (min-width: 992px) {
  #header-mobile {
    display: none;
  }
  #header-desktop {
    display: block;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: #fff;
    overflow: hidden;
    width: 100%;
    z-index: 999;
  }
  #header-desktop .img-responsive {
    width: 200px;
    height: auto;
    margin: 10px;
  }
  #header-desktop a {
    color: #555;
    font-weight: 500;
    font-size: 11px;
    padding: 5px;
    text-decoration: none;
  }
  #header-desktop a:hover {
    border-bottom: 2px solid #555;
  }
  #header-desktop .col-sm-1,
  #header-desktop .col-sm-2 {
    margin-top: 40px;
    text-align: center;
  }
}
#three-columns .wrapper-three-columns {
  padding-top: 50px;
}
#three-columns .image {
  padding-bottom: 25px;
}
#three-columns .image img {
  width: 100%;
}
#three-columns span {
  font-size: 10px;
}
#three-columns h4 {
  font-weight: bold;
}
#three-columns p {
  font-size: 12px;
  padding-bottom: 25px;
  color: #666;
}
#three-columns a {
  text-decoration: none;
  color: white;
  padding: 14px 0;
  background-color: #337;
  display: block;
  max-width: 150px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
}
#three-columns a:hover {
  background-color: #1e39b4;
}
#three-columns .space {
  padding-bottom: 50px;
}
/*Tablet*/
/*Desktop*/
@media (min-width: 992px) {
  #three-columns p {
    font-size: 14px;
  }
}
/*Desktop wide*/
#best-offers .content .model .nav li {
  display: inline-block;
  font-size: 10px;
  color: black;
}
