#best-offers{
  .serach-vehicles{
    text-align: center;
  }
  .img{
    width: 100%;
  }
  .models{
    .category{
      list-style-type: none;
      padding: 0;
      li{
        border-top:1px solid #D7D5D5;
        border-left: 3px solid #D7D5D5;
        a{
          text-decoration: none;
          color: #404044;
          font-weight: 400;
          display: block;
          width: 100%;
        }
        span{
          opacity: 0;
          font-weight: 400;
        }
      }
      li:last-child{
        border-bottom: 1px solid #D7D5D5;
      }
      li:hover{
        border-left: 3px solid #000;
        transition: 1s;
        a{
        color: black;
        }
        span{
          opacity: 1;
          float: right;
          transition: 1s;
        }
      }
    }
  }
  .content{
    .registered{
      font-size: 10px;
      padding-top: 25px;
      padding-left: 10px;
    }
    .name-of-vehicle{
      font-size: 30px;
      padding-bottom: 30px;
      padding-left: 10px;
      a{
        color: black;
        text-decoration: none;
      }
    }
    .model{
      .nav{
      padding-bottom: 10px;
        li {
          font-size: 9px;
          color: black;
        }
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
