#welcome{
  background-image: url(../images/parallax.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  .body{
    padding-left:200px;;
    padding-right:200px;
  }
}